body {
    height: 5000px;
}

.title-holder {
    position: fixed;
    left: 300px;
}

.title {
    position:relative;
    text-align: center;
    font-size: 16px;
    border: 1px solid black;
    height: 50px;
    width: 216px;
    margin-bottom: 5px;
}

span {
    background-color: #e1e1e1;
    position: absolute;
    width: 0;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all .2s ease-in-out;
}

.article-holder {
   border: 1px solid blue;
   width: 200px;
}

article {
    margin: 1px;
    border: 1px dashed red;
    height: 500px;
}
